.back {
	display: flex;
	align-items: center;
	color: $grey;
	font-family: $ff;
	font-size: 12px;
	font-style: normal;
	font-weight: $fw-semibold;
	line-height: $lh;

	@media all and (min-width: $md) {
		font-size: 16px;
	}

	img {
		margin-right: 8px;
	}
}