<div class="card">
	<div class="card__inner">
		<div class="card__img">
			<img src="@@src" width="384" height="222" alt="">
		</div>
		<div class="card__info">
			<span class="card__type">
				@@type
			</span>
			|
			<span class="card__date">
				@@date
			</span>
		</div>
		<p class="card__text">
			@@text
		</p>
		<div class="card__link_wrapper">
			<a href="@@href" class="card__link">
				Read more
				<img src="img/icons/read-more.svg" width="24" height="24" loading="lazy" alt="">
			</a>
		</div>
	</div>
</div>