<div class="dropdown @@class" id="@@id">
	<div class="dropdown-title">
		<div class="dropdown-start">
			<div class="dropdown-start-text">
				@@h3
			</div>
			<span></span>
		</div>
	</div>
	<div class="dropdown-open">
		<div class="dropdown-inner">
			<div class="dropdown__inner_items">
				<div class="dropdown__inner_left">
					<p class="dropdown__inner_text">
						@@text1
					</p>
				</div>
				<div class="dropdown__inner_right">
					<p class="dropdown__inner_text right_text">
						@@text2
					</p>
				</div>
			</div>
		</div>
	</div>
</div>