<div class="dropdown about-dropdown @@class">
	<div class="dropdown-title about-dropdown-title">
		<h3 class="dropdown-start about-dropdown-start">
			@@text
			<span></span>
		</h3>
	</div>
	<div class="dropdown-open about-dropdown-open">
		<div class="dropdown-inner about-dropdown-inner">
			<div class="dropdown__inner_items">
				<div class="dropdown__inner_left">
					<div class="dropdown__inner_img">
						<img src="@@src" width="75" height="75" alt="">
					</div>
					<h3 class="h3">
						@@h3
					</h3>
				</div>
				<div class="dropdown__inner_right">
					<div class="dropdown__inner_item">
						<h5 class="h5">@@h5-1</h5>
						<p class="dropdown__inner_text">@@text1</p>
					</div>
					<div class="dropdown__inner_item">
						<h5 class="h5">@@h5-2</h5>
						<p class="dropdown__inner_text">@@text1</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>