<div class="video__wrapper">
	<video class="video" src="video/bg.mp4" playsinline muted></video>
	<div class="video__wrapper_img">
		<picture class="video__thumbs">
			<source type="image/webp" media="(min-width: 0px) and (max-width: 768px)" srcset="img/home/hero/video-bg-mobile.webp">
			<source type="image/png" media="(min-width: 0px) and (max-width: 768px)" srcset="img/home/hero/video-bg-mobile.png">
			<source type="image/webp" media="(min-width: 768px)" srcset="img/home/hero/video-bg.webp">
			<img src="img/home/hero/video-bg.png" width="500" height="500"  alt="" />
		</picture>	
	</div>
</div>