.data {
	background-color: #fbfbfb;
	padding-bottom: 30px;

	@media all and (min-width: $lg) {
		padding-bottom: 0;
	}

	.container {
		max-width: $xl;
	}

	.services__dropdowns {
		background-color: #fbfbfb;
		transform: translateY(-20%);

		@media all and (min-width: $xxl) {
			transform: translateY(-45%);
		}
	}
}

.dropdown-heading {
	@media all and (min-width: $lg) {
		align-items: center;
	}
}