.data {
	background-color: #fbfbfb;
	padding-bottom: 30px;

	@media all and (min-width: $lg) {
		padding-bottom: 60px;
	}

	.container {
		max-width: 1332px;
	}

	.quality__wrapper {
		padding: 0;
	}

	.services__dropdowns {
		background-color: #fbfbfb;

		@media all and (min-width: $xxl) {
		}
	}
}

.dropdown-heading {
	@media all and (min-width: $lg) {
		align-items: center;
	}
}